<ion-view view-title="About">
    <ion-content>
        <ion-list>
            <ion-item>
                <h2>About...</h2>
                <p>Ecolleria, s.l.</p>
                <p>Poligono Industrial el Carrascot<br>
                    Calle Forn, 2<br>
                </p>
                <p>46850 L'Olleria (Valencia)</p>
                <p>Spain</p>
                <p>Tel: +34 960 470 502</p>
                <p>Fax: +34 962 200 173</p>
                <p>Email: <a  href="#" onclick="window.open('mailto:info@ecoglass.com', '_system', 'location=yes')">info@ecoglass.com</a></p>
                <p>Web: <a href="#" onclick="window.open('http://www.ecoglass.com', '_system', 'location=yes');">www.ecoglass.com</a></p>
            </ion-item>
            <ion-item>
                <h2>About this Catalogue...</h2>
                <p>Version 1.0.1</p>
                <p>Create by Ecolleria.</p>
                <h6 style="color:#b8b8b8">Develop by Rafa Petit.</h6>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>
