<ion-view view-title="Home">
    <ion-content>
        <div class="list card">

            <div class="item">
                <h2>Catalogue</h2>
                <a class="item nav-clear menu-close" href="#/app/familias">
                    <i class="icon ion-filing"></i>
                    Family
                </a>
                <a class="item nav-clear menu-close" href="#/app/buscar">
                    <i class="icon ion-search"></i>
                    Search
                </a>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="img/pvcexpo300.jpg" style="max-width: 300px;">
                <img class="full-image" ng-src="img/_DSC0001.JPG" style="max-width: 350px; padding-left:10px">
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
